body {background-color: #1f1f1f;color: #999;}

.container {
  float: none;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

.header_wrap {
    /*
    position: fixed;
    width: 100%;
    */
    height: 50px;
}
.header_wrap ul {
  margin: 20;
  list-style: none;
}
.header_wrap ul li {
  display: table-cell;
  line-height: 15px;
}
.header_wrap ul li a {
  display: table-cell;
  /*vertical-align: middle; causes issue with text bumping up icon*/
  padding: 0 20px;
  text-decoration: none;
  text-align: center;
  color: #999;
  width: 30px;
}
.header_wrap ul li a span {
  padding: 0 0 0 8px;
}
.header_wrap ul li a img {
  vertical-align: middle;
  padding: 3px 0 0 0;
}

#fmlog {
	color: white;
	font-weight: bold;
	width: 580px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 550px;
}

#fmlog ul li{
	list-style: none;
	display: block;
	padding: 5px;
}