<!DOCTYPE html>
<html>
	<head>
    	<title>Plex Manager</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<script src="/js/jquery-2.1.3.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/Font-Awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<div class="container">
			
			<div class="header_wrap">
				<h1 class="text-center"><img src="/img/plex-logo.png" /> server manager</h1>
				<br>
				<ul>
					<li><a href="/"><i class="fa fa-home fa-5x"></i> Home</a></li>
					<li><a href="/plexweb" target="_blank"><i class="fa fa-play fa-5x"></i> Plexweb</a></li>
					<li><a href="/file-manager"><i class="fa fa-wrench fa-5x"></i> File Manager</a></li>
					<li><a href="/help" target="_blank"><i class="fa fa-question-circle fa-5x"></i> Help</a></li>
					<li><a href="/restart"><i class="fa fa-refresh fa-5x"></i> Restart</a></li>
					<li><a href="/shutdown"><i class="fa fa-power-off fa-5x"></i> Shutdown</a></li>
				</ul>
				<div id="fmlog">
					{% if logs %}
					<h2>USB Daemon Logs</h2>
					<ul>
					{% for log in logs %}
					<li>{{ log }}</li>
					{% endfor %}
					</ul>
					{% endif %}
					{% if error %}
					<h2>USB Daemon Logs</h2>
					<ul><li>{{ error }}</li></ul>
					{% endif %}
				</div>
			</div>
		</div>
	</body>
</html>
